@import "tailwindcss";
@font-face {
  font-family: 'normal';
  src: url('/src/assets/font/SourceCodePro-VariableFont_wght.ttf');
}
@theme {
  --font-normal:'normal';
  --color-black:#1A1D1B;
  --color-primary:#EAD653;
}

::-webkit-scrollbar {
  display: none;
}
html, body {
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none; 
}
.draggable{
   user-select: none;
  -webkit-user-drag: none;
}