
body{
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main main"
    "main main main"
    'footer footer footer';
    margin: 0;
    background-color:#0f0f0f;
}
.kanit-medium{
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.kanit-semibold{
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.kanit-bold{
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.kanit-light{
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
}
header{
    grid-area:header;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    z-index: 100;
    background-color: #0f0f0f;
}
nav{
    width:20%;
    display: flex;
    justify-content:space-between;
}
.navElement{
    text-decoration: none;
    color: #ffb700;
    padding: 5px;
    transition: .2s;
}
.navElement:hover{
    color: antiquewhite;
    letter-spacing: 2px;
}
main{
    grid-area:main;
    display: grid;
    height: 2000px;
    grid-template-areas:
    'home '
    'about'
    'projects';
    grid-template-rows: 2fr 3fr 2fr;
}
#home{
    padding-top: 2rem;
    grid-area: home;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
h1{
    font-size: 5em;
    margin: 0;
    color: transparent;
    -webkit-text-stroke: 3px #Ffd000 ;
}
h4{
    letter-spacing: 0.5px;
    margin: 0;
    color: #444342;
    padding-right:1px;
    border-right: 1.5px solid;
    text-align: center;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3s 1s steps(19) forwards,
    blink 1s 1s infinite;
}
@keyframes typing{
    from{width: 0;}
    to{width: 100%;}
}
@keyframes blink{
    from{border-color: transparent;}
    to{border-color: #444342;}
}
h2{
    font-size: 2em;
    text-align: center;
    color: #ffb700; 

}
#aboutMe{
    grid-area: about;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;

}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 30%;
    padding: 10px;
    border-radius: 15px;
    background-color:linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0));
    z-index: 10;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
}
#shape1{
    position:absolute;
    right:170px;
    top: 900px;
}
#shape2{
    position:absolute;
    left:170px;
    top: 750px;
}
#info{
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    color: #444342;
    opacity: 1;
}
#skills{
    display: flex;
    gap: 40px;
}

.logo{
    height: 60px;
    width: 60px;
    color:#ffb700;  
}
#projects{
    padding-top: 20px;
    grid-area: projects;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#porjectsFlex{
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    gap: 20px;
}
h3{
    width: 200px;
    margin: 0;
    text-align: center;
}
.projectsLinks{
    color: aliceblue; 
    margin: 0;
    text-decoration: none;
}
.projectsLinks:hover{
    opacity: 0.7;
}
.box{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#ffb700;
    height: 50%;
    width: 15%;
}
footer{
    margin-top: 20px;
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2rem;
    color: #444342;
    font-family: monospace;

}
@media screen and (max-width:1000px) and (min-width:795px){
    h1{
        font-size: 4em;
    }
    #shape1{
        position:absolute;
        right:130px;
        top: 900px;
    }
    #shape2{
        position:absolute;
        left:120px;
        top: 750px;
    }
    h3{
        max-width: 100px;
        font-size: 0.8em;
    }
    .projectsLinks{
        font-size: 1em;
    }
    }

@media screen and (max-width:793px) and (min-width:603px){
    h1{
        font-size:3em;
        color: #Ffd000;
        -webkit-text-stroke: 0;
    }
    .logo{
        max-width: 40px;
        height: auto;
    }
    #info{
        font-size:small;
    }
    #Question_Mark{
        max-width: 70px;
        height: auto;
    }   
    .box{
        max-width: 200px;
        height: auto;
    }
    h3{
        font-size: 0.6em;
        max-width:60px ;
    }
    #shape1{
        position:absolute;
        right:90px;
        top: 1000px;
        max-height: 150px;
        width: auto;
    }
    #shape2{
        position:absolute;
        left:70px;
        top: 800px;
        max-height: 150px;
        width: auto;
    }
    .navElement{
        font-size: small;
    }
    .projectsLinks{
        font-size: 1em;
    }
}
@media screen and (max-width:602px) and (min-width:455px){
    h1{
        font-size:2em;
        color: #Ffd000;
        -webkit-text-stroke: 0;
    }
    #info{
        font-size:x-small;
    }
    #shape1{
        position:absolute;
        right:50px;
        top: 1000px;
        max-height: 120px;
        width: auto;
    }
    #shape2{
        position:absolute;
        left:80px;
        top: 800px;
        max-height: 120px;
        width: auto;
    }
    .logo{
        max-width: 20px;
        height: auto;
    }
    h2{
        font-size: 1.4em;
        text-align: center;
        color: #ffb700; 
    }
    .navElement{
        font-size: small;
    }
    #Question_Mark{
        max-width: 70px;
        height: auto;
    }   
    .box{
        max-width: 200px;
        height: auto;
    }
    h3{
        font-size: 0.6em;
        max-width:60px ;
    }
    .projectsLinks{
        font-size: 1em;
    }
    #skills{
        gap:15px
    }
    header{
        justify-content: flex-start;
        padding-bottom: 10px;
    }
}
@media screen and (max-width:454px) and (min-width:375px) {
    h1{
        font-size:1em;
        color: #Ffd000;
        -webkit-text-stroke: 0;
    }
    h4{
        font-size: 0.7em;
    }
    #shape1,#shape2{
        visibility: hidden;
    }
    #info{
        font-size:x-small;
    }
    .logo{
        max-width: 15px;
        height: auto;
    }
    #skills{
        gap:10px
    }
    .navElement{
        font-size: x-small;
        padding: 0;
    }
    #Question_Mark{
        max-width: 50px;
        height: auto;
    }   
    .box{
        max-width: 100px;
        height: auto;
    }
    h3{
        font-size: 0.4em;
        max-width:40px ;
    }
    h2{
        font-size: 1em;
        text-align: center;
        color: #ffb700; 
    }
    .projectsLinks{
        font-size: 0.7em;
    }
    nav{
        gap: 5px;
        margin-left: 5px;
    }
    header{
        justify-content:flex-start;
        padding-bottom: 10px;
    }

}
@media screen and (max-width:374px) and (min-width:200px) {
    h1{
        font-size:1em;
        color: #Ffd000;
        -webkit-text-stroke: 0;
    }
    h4{
        font-size: 0.7em;
    }
    #shape1,#shape2{
        visibility: hidden;
    }
    #info{
        font-size:xx-small;
    }
    .logo{
        max-width: 15px;
        height: auto;
    }
    #skills{
        gap:10px
    }
    .navElement{
        font-size: x-small;
    }
    #Question_Mark{
        max-width: 30px;
        height: auto;
    }   
    .box{
        max-width: 100px;
        height: auto;
    }
    h3{
        font-size: 0.2em;
        max-width:30px ;
    }
    h2{
        font-size: 1em;
        text-align: center;
        color: #ffb700; 
    }
    .projectsLinks{
        font-size: 0.4em;
    }
    nav{
        justify-content: space-between;
    }
    h5{
        font-size: xx-small;
    }
}