
body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main main"
    "main main main"
    'main main main'
    'footer footer footer';
    margin: 0;
    padding-top: 2rem;
    background-color:#3B1C32 ;
    color:#1A1A1D;
}
header{
    grid-area:header;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
main{
    grid-area:main;
}
h2{
    justify-self: baseline;
    font-size: xx-large;
}
nav{
    width:25% ;
    justify-self: center;
    align-self: center;
    display: flex; 
    gap: 10%;
    margin: auto;
    font-size: x-large;
}
.navElement{
    text-decoration: none;
    color: black;
}
h1{
    font-size: 10rem;
    margin: 0;
}
#myPic{
    height: 45vh;
    border-radius: 7rem;
    filter: drop-shadow();
}
/*A94A4A wine F4D793 sand